.container{
    padding: 100px;
}

.name:hover .item{
    max-height:1000px;
    transition: max-height ease .3s;
}

.item{
    background-color: orange;
    width: 100px;
    /* height: 100px; */
    /* height:0px; */
    /* height: 0px; */
    max-height:0;
    transition: max-height ease .3s;
    padding: 10px;
    overflow: hidden;
}

.content{
    margin-bottom: 5px;
    width: 100%;
    height: 20px;
    background-color: rgb(36, 36, 36);
}

.item:hover{
    /* max-height:0; */
    /* height:auto; */
    max-height:1000px;
    transition: max-height ease .3s;
}